.nav-menu{
    text-align: right;
  }
  .nav-spacing {
    margin: 0 0 0 10px;
  }
.image-link {
    text-decoration: none;
}
.image-link :visited {
    color: blue;
}
.quote-box {
    padding: 2px 20px; background-color: wheat
}
.em-text {
    font-style: italic; font-size: 20px
}
.red-text {
    font-style: nomal; font-size: 24px; font-weight: bold; color: #ff0000
}
.book-cover {
    margin-right: 40px; float:left; height: 200px;
}
.Movy-Dick_introduction {
    width: 560px; margin: 20px auto;background-color: #fafafa; padding: 30px
}
.page-title {
    margin: 0 0 80px;
}
.text-center {
    text-align: center;
}